# See https://help.github.com/ignore-files/ for more about ignoring files.

countdownchamp/node_modules
countdownchamp/coverage
countdownchamp/build
countdownchamp/.DS_Store
countdownchamp/.env.local
countdownchamp/.env.development.local
countdownchamp/.env.test.local
countdownchamp/.env.production.local
countdownchamp/npm-debug.log*
countdownchamp/yarn-debug.log*
countdownchamp/yarn-error.log*

challenge1/node_modules
challenge1/coverage
challenge1/build
challenge1/.DS_Store
challenge1/.env.local
challenge1/.env.development.local
challenge1/.env.test.local
challenge1/.env.production.local
challenge1/npm-debug.log*
challenge1/yarn-debug.log*
challenge1/yarn-error.log*

musicmaster/node_modules
musicmaster/coverage
musicmaster/build
musicmaster/.DS_Store
musicmaster/.env.local
musicmaster/.env.development.local
musicmaster/.env.test.local
musicmaster/.env.production.local
musicmaster/npm-debug.log*
musicmaster/yarn-debug.log*
musicmaster/yarn-error.log*

reminderpro/node_modules
reminderpro/coverage
reminderpro/build
reminderpro/.DS_Store
reminderpro/.env.local
reminderpro/.env.development.local
reminderpro/.env.test.local
reminderpro/.env.production.local
reminderpro/npm-debug.log*
reminderpro/yarn-debug.log*
reminderpro/yarn-error.log*

goalcoach/node_modules
goalcoach/coverage
goalcoach/build
goalcoach/.DS_Store
goalcoach/.env.local
goalcoach/.env.development.local
goalcoach/.env.test.local
goalcoach/.env.production.local
goalcoach/npm-debug.log*
goalcoach/yarn-debug.log*
goalcoach/yarn-error.log*