# See https://help.github.com/ignore-files/ for more about ignoring files.

countdownchamp/node_modules
countdownchamp/coverage
countdownchamp/build
countdownchamp/.DS_Store
countdownchamp/.env.local
countdownchamp/.env.development.local
countdownchamp/.env.test.local
countdownchamp/.env.production.local
countdownchamp/npm-debug.log*
countdownchamp/yarn-debug.log*
countdownchamp/yarn-error.log*
